<!DOCTYPE html/>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/park.css') }}">
        <title> Easy Parks </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <header>
            <div class='header'><img src="{{ park['imgs'][0]['url'] }}" /></div>
            
            <div class='center'>
                <h1>
                    <a action="/" href="/">{{park["name"]}}</a>
                </h1>
        </div>
        </header>

       
        </div>
        <div class="row"></div>
        <div class="desc"> 
            <h3 class='head'>Description</h3>
            {{park["desc"]}}
        </div>
        <h3 class='head'>Activites</h3>
        <ul class = "acts">
        {% for act in park["act"] %}
            <li><a href="/act?{{act.id}}">{{ act["name"] }}</a></li>
        {% endfor %}
        </ul>

                
           
        
    </body>
</html>







