<!DOCTYPE html/>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/park.css') }}">
        <title> Easy Parks </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="../static/imgs.js"></script>
        <body onload="showSlides()">

    </head>
    <body>
        <header>
            <div class='name'>
                <h1>
                    <a action="/" href="/">{{park["name"]}}</a>
                </h1>
            </div>
            

        </header> 
        <main> 
            <div class="slideshow-container">

            
               {% for  img in park.imgs %}
                <div class="mySlides fade">
                    <div class="numbertext">{{ loop.index0 +1 }} / {{ park.imgs|length}}</div>
                    <img src="{{img.url}}" style="width:100%">
                <div class="text">{{img.name}}</div>
                </div>
                {% endfor %}
            
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
  
            <div style="text-align:center">
                {% for img in park.imgs %}
                        <span class="dot" onclick="currentSlide({{ loop.index0 +1 }})"></span> 
                {% endfor %}
            </div>
        </main>     
            
        

        <div > 
            {% if park.webcams|length != 0 %}

            <h3 class="head ">Peer into the Park</h3>
            {% for cam in park.webcams%}
                <div class='webcam'><a style='text-align: center;'href="{{cam.url}}">{{cam.title}}</a></div>
            {% endfor %}
            {% endif %}
        </div>

       
        <div class="desc"> 
            {{park["desc"]}}
        </div>
        
        <h3 class='head'>Activites for the Park</h3>
        <section class='acts'>
            <div class='grid'>
            {% for act in park["act"] %}
                <div class="tile"><a href="/act?{{act.id}}">{{act.name}}</a></div>
            {% endfor %}
            </div>
        </section>

        
        <section class='contacts'>
            <div class='container'>
                <h3 class='head'>Contact the Park</h3>
                <div class='container_left'>
                    <h3>Phone</h3>
                    {% for num  in park.contacts.phoneNumbers %}
                        <p >{{ num.type }}: {{ num.phoneNumber }}</p>    
                    {% endfor %}

                    <h3>Email</h3>
                    {% for num  in park.contacts.emailAddresses %}
                        <a href="mailto:{{num.emailAddress}}">{{ num.emailAddress }}</a>    
                    {% endfor %}
                </div>
                <div class='container_right'>
                    <h3>Addresses</h3>
                    {% for addr in park.addresses %}
                    
                        <p>{{ addr.type }}</p>
                        <p >{{ addr.line1 }} <br>
                        {{ addr.city }} {{ addr.stateCode }}, {{ addr.postalCode }}<br></p><br>
                    {% endfor %}
                </div>
            </div>
        </section>


                
           
        
    </body>
</html>







