<!DOCTYPE html/>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/search.css') }}">
        <title> Easy Parks </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <a action='/' href='/' ><h1 class="title">Easy Parks</h1></a>
            <h1>
                {{ total }}
            </h1>
        </header>
            {% if parks %}
                {% for park in parks %}
                <div class='container'>
                    <div class="container_left">
                        <a action='/park' class='name' href='park?{{ park["code"] }}'>{{ park["name"] }}</a>
                        <p>{{ park["desc"] }}</p>     
                    </div>
                    <div class='container_right'>
                        <a action='/park' href='park?{{ park["code"] }}'><img src="{{park.imgs[0].url}}" alt="{{park.name}}"></a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}



        
    </body>
</html>
