<!DOCTYPE html/>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;0,800;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/search.css') }}">
        <title> Easy Parks </title>
    </head>
    <body>
        <h1 class="title">Easy Parks</h1>
        <form action="/data" method="POST">
            <input name="text">
        </form>
            {% if parks %}
                {% for park in parks %}
                <div class="container">
                    <a action='/park' href='park?{{ park["code"] }}'>{{ park["name"] }}</a>
                    <p>{{ park["desc"] }}</p>
                    
                </div>
                {% endfor %}
                <hr>
            {% endif %}



        
    </body>
</html>
