.grid {
    display: grid;
     grid-column: 3;
}

.tile {
    opacity: 0.5;
    background-color: slategray;
    border: px solid black;
    border-radius: 25px;
    box-shadow: 10 10 10px rgba(0, 0, 0,);
    color: white;
    margin: 20px;
    padding: 2%;
    width: 30%;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}