body {
    text-align: center;
    background-color: #D8C3A5;
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-size: 70px;
    font-weight: 800;
    color: #E85A4F;
    font-family: 'Montserrat', sans-serif;
    
}

h2 {
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}



.flashes {
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

.container {
    top: 20%;
    text-align: center;
    position: relative;
    display; inline-block;
}

input[type=submit]:hover {
    background-color: #EAE7DC;
    color: E85A4F;
    cursor: pointer;
}

input[type=text], select {
	width: 40%;
	position: relative;
	left: 30%;
	padding: 12px 20px;
	margin: 8px 10;
	display: list-item;
	border: 5px solid #E85A4F;
	border-radius: 25px;
}

input[type=submit] {
	width: 10%;
	height: 5%;
	background-color: #E85A4F;
	color: #fff;
	padding: 12px 18px;
	margin: 20px 0;
	border: none;
	border-radius: 20px;
	cursor: pointer;
} 
	
	
input:hover {
    background-color: #EAE7DC;
    color: #fff;
    cursor: pointer;



.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
}
