body {
    background: -webkit-linear-gradient(to right, #d8dae6, #106494);
    background: linear-gradient(to right, #292E49, #536976);
    font-family: 'Montserrat', sans-serif;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
 
}

.name h1 a {
    width: 100%;
    text-align: center;
  
}

img {
    border: 10px solid  #3EB489;
    border-radius: 40px;
}

h1 a {
    position: absolute;
    top: 1%;
    text-align: center;
    font-size: 170%;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    

    
}

.head {
    position: relative;
    font-size: 300%;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #3EB489;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0%;
    
}

ul {
    padding: 2;
}

a {
    font-size: 50px;
    font-weight: 600;
    color: #fff;

    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.desc {
    
    margin: 3%;
    font-size: 225%;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    padding: 2;
}

.webcam a {
    font-size: 225%;
    text-align: center;
}

.acts {
    
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 100%;
    position: relative;
    float: left;
    padding: 0px;
    text-align: center;

    border-radius: 25px;
}

.container_left {
    padding: 20;
    width: 50%;
    float: left;
    margin: 20px;
    padding: 2%;
    
}

.container_right {
    padding: 20;
    width: 50%;
    margin: 20px;
    padding: 2%;
    margin-left: 50%;
    
}

input {
    text-align: right;
    position: relative;
    padding: 0;
    right: 10%;
    height: 30px;
    width: 40%;
    position: relative;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
}

* {box-sizing:border-box}

.slideshow-container {
  max-width: 60%;
  position: relative;
  left: 20%;
  margin-top: 10%;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.tile a {
    float: left;
    opacity: 0.5;
    background-color: slategray;
    border: 0px solid black;
    border-radius: 25px;
    box-shadow: 10 10 10px rgba(0, 0, 0,);
    color: white;
    margin: 2%;
    padding: 1.5%;
    width: 18%;
    height: 12%;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    grid-column:  1 / span 2;
    font-size: 205%;
}

.tile a:hover {
    background-color: white;
    color: #3EB489;
}
  
section .acts {
    position: relative;
    width: 100%;
    display: flex;
  
    text-align: center;
}


.grid {
    position: relative;
    width: 90%;
    margin: 5%;
    left: 5%;
    text-align: center;
  
  }

.contacts {
    padding: 0px;
}

.contacts p {
    font-size: 225%;
    color: #fff;
}

.contacts a {
    font-size: 225%;
    color: #fff;
}

.contacts h3 {
    font-size: 300%;
    font-weight: 800;
    text-align: center;
    color: #3EB489;

}

section .contacts {
    padding: 10px
}