body {
    background-color: slategray;
	text-shadow: 2px 2px 4px #000000;
}


h1 {
    position: sticky;
	position: --webkit-sticky;
    top: 5%;
    font-size: 190px;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 2;
    
}

a:hover {
	color: lightblue;
}

h1 a {
	font-size: 60px;
}

a {
	width: 100%
	height: auto;;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
	color: white;
}

.flashes {
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.center {
    text-align: center;
}

.container {
    position: relative;
    padding: 2;
	margin: auto;
    
}

input {
    text-align: right;
    position: relative;
    padding: 0;
    right: 10%;
    height: 30px;
    width: 40%;
    position: relative;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
    font-size: 16px;
    rounded-radius: 3px;
}
.advancedSearchTextbox {
    width: 526px;
    margin-right: -4px;
}