

body {
    text-decoration: none;
    
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(to right, #d8dae6, #106494);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976);
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
 
}


 h1 {
    position: relative;
    text-align: center;
    
    font-size: 450% ;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    
}

.title {
    font-size: 150%;
}

.container_right {
    width: 50%;
    padding: 2px;
    position: relative;


    
}

a img {
    border: none;
    object-fit: cover;
    width: 100%;
    text-align: right;
    margin: -30;
    border: 10px solid  #3EB489;
    border-radius: 40px;
}

a:hover, a .title:hover {
	color: #3EB489;
}



h1 a {
	font-size: 20%;
}

a {
	width: 100%;
	height: auto;
    font-size: 400%;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
	color: white;
    font-size: 170%;
}


.center {
    text-align: center;
}

.container_left {
    padding: 20;
    width: 50%;
    float: left;
    margin: 20px;
    padding: 2%;
    
}

.container {

    position: relative;
    padding: 70px 70px;
    height: auto;
    display: flex;
    border: 15px solid  #3EB489;
    border-radius: 40px;
    margin: 2%;
    
}

input {
    position: relative;
    padding: 0;
    right: 10%;
    height: 30px;
    width: 40%;
    position: relative;
    outline: none;
    border: 1px solid  #3EB489;
    border-color: rgba(0,0,0,.15);
    font-size: 16px;
}

